/* Reset some default browser styles */
body, h1, h2, p, a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Global styles */
body {
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header styles */
.header {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header-content {
    max-width: 600px;
    margin: 0 auto;
}

.header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

/* Main content styles */
.mainContainer{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cta, .about {
    padding: 40px 0;
    text-align: center;
}

.cta h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.cta .buttons a {
    display: inline-block;
    padding: 15px 30px;
    margin: 0 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
}

.cta .buttons a:hover {
    background-color: #0056b3;
}
p{
 margin:10px;
 padding:10px;
 }
/* Footer styles */
footer {
    margin-top: auto;
    background-color: #f5f5f5;
    color: #777;
    text-align: center;
    padding: 20px 0;
}

