 body {
        display: flex;
           justify-content: center;
           align-items: center;
           flex-direction: column;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;

            margin: 0;
            padding: 0;
        }

        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            margin-top: 50px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            min-width:320px;
        }

       input {
            margin-bottom: 10px;
            padding:5px;
        }

        input[type="submit"] {
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }

        .toggle-password {
            position: relative;
            margin-left: -25px;
            cursor: pointer;
            color: #007bff;
        }