<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expense Tracker</title>
    <link rel="stylesheet" type="text/css" href="/css/IndexStyle.css">
</head>
<body>
<header class="header">
    <div class="header-content">
        <h1>Expense Tracker</h1>
        <p>Effortlessly manage your expenses</p>
    </div>
</header>

<main class="mainContainer">
    <section class="cta">
        <h2>Start Managing Your Expenses</h2>
        <p>Sign up or log in to get started!</p>
        <div class="buttons">
            <a href="/signup" class="signup-btn">Sign Up</a>
            <a href="login" class="login-btn">Login</a>
        </div>
    </section>


</main>

<footer>
    <p>&copy; 2023 Expense Tracker. All rights reserved.</p>
</footer>
</body>
</html>
